<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            class="jp.ats.dexter.plugin.DexterPropertyPage"
            adaptable="true"
            id="jp.ats.dexter.plugin.propertyPage"
            name="Dexter">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="jp.ats.dexter.plugin.executeJspod"
            nameFilter="*.jsp"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="jp.ats.dexter.plugin.executeJspodMenu"
               label="Dexter">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="jp.ats.dexter.plugin.JspodAction"
               enablesFor="1"
               id="jp.ats.dexter.plugin.executeJspodAction"
               label="このJSPでJspod変換を行う"
               menubarPath="jp.ats.dexter.plugin.executeJspodMenu/group">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="jp.ats.dexter.plugin.executeJspod"
            nameFilter="*.jspf"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="jp.ats.dexter.plugin.executeJspodMenu"
               label="Dexter">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="jp.ats.dexter.plugin.JspodAction"
               enablesFor="1"
               id="jp.ats.dexter.plugin.executeJspodAction"
               label="このJSPでJspod変換を行う"
               menubarPath="jp.ats.dexter.plugin.executeJspodMenu/group">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="jp.ats.dexter.plugin.executeAllJspod"
            objectClass="org.eclipse.core.resources.IContainer">
         <menu
               id="jp.ats.dexter.plugin.executeJspodMenu"
               label="Dexter">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="jp.ats.dexter.plugin.JspodAction"
               enablesFor="1"
               id="jp.ats.dexter.plugin.executeJspodAction"
               label="以下全てのJSPでJspod変換を行う"
               menubarPath="jp.ats.dexter.plugin.executeJspodMenu/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
